/* Have fun customizing :) */
:root {
  --background-color: rgb(0, 0, 0);
  --second-background-color: rgb(20, 20, 20);
  --main-color: white;
  --accent-color: rgb(151, 0, 248);
  --second-accent-color: rgb(255, 108, 2);
  --second-accent-color-half: rgba(255, 108, 2, 0.5);
  --warning-color: rgb(158, 27, 64);
  --warning-color-half: rgb(158, 27, 64, 0.5);
  --header-height: 50px;
  --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input::placeholder {
  color: var(--accent-color);
  opacity: 0.5;
}
