<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonDataFramework" version="1.0.0.6" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net48" />
</packages>