.informationLabelContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  width: auto;
  height: auto;
  gap: 20px 50px;
}

.informationLabel {
  width: fit-content;
  height: min-content;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
}

.informationLabelWithOnClick {
  cursor: pointer;
  transition: 50ms linear;
  border: 2px solid transparent;
}

.informationLabelWithOnClick:hover {
  border-color: var(--second-accent-color);
}

.informationLabel .key {
  width: auto;
  height: auto;
  color: var(--second-accent-color);
}

.informationLabel .value {
  width: auto;
  height: auto;
}

.mainInputButtonContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  height: auto;
  margin: 20px;
  width: calc(100% - 40px);
}

.mainInput {
  height: auto;
  width: unset;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: 2px solid transparent;
  background-color: var(--second-background-color);
  color: var(--accent-color);
  outline: none;
  transition: 50ms linear;
}

.mainInput:focus {
  border-color: var(--accent-color);
}

.mainButton {
  height: auto;
  width: unset;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: 2px solid transparent;
  background-color: var(--second-background-color);
  color: var(--accent-color);
  outline: none;
  cursor: pointer;
  transition: 50ms linear;
}

.mainButton:not(:disabled):hover,
.mainButton:not(:disabled):focus {
  border-color: var(--accent-color);
}

.reportContainer {
  width: 100%;
  height: calc(100% - var(--header-height));
  background-color: var(--background-color);
  position: fixed;
  z-index: 1;
  top: var(--header-height);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 20px;
  width: calc(100% - 40px);
}

.reportContainer .options {
  font-size: 20px;
  font-weight: 600;
  overflow-y: auto;
  padding-bottom: 20px;
  padding-right: 10px;
  height: calc(100% - 20px - 20px);
}

.reportContainer button {
  font-size: 16px;
  font-weight: 400;
  font-family: monospace;
  padding: 5px;
  border: 2px solid var(--second-accent-color);
  color: var(--main-color);
  outline: none;
  cursor: pointer;
  transition: 50ms linear;
  background-color: transparent;
  width: calc(100% - 4px);
  margin: 2px;
  text-align: left;
}

.reportContainer button:not(:disabled):hover,
.reportContainer button:not(:disabled):focus {
  background-color: var(--second-accent-color-half);
}

.reportContainer button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.reportContainer .result .headerButtonContainer button.warning {
  border-color: var(--warning-color);
}

.reportContainer button.warning:not(:disabled):hover,
.reportContainer button.warning:not(:disabled):focus {
  background-color: var(--warning-color-half);
}

.reportContainer .result {
  border: 2px solid var(--second-accent-color-half);
  height: calc(100% - 40px);
  overflow-y: auto;
  position: relative;
}

.reportContainer .result .headerButtonContainer {
  display: grid;
  grid-auto-flow: column;
}

.reportContainer .result .headerButtonContainer > div {
  font-size: 20px;
  font-weight: 600;
  color: var(--second-accent-color);
  margin: 5px;
}

.reportContainer input {
  font-family: monospace;
  height: auto;
  width: calc(100% - 10px - 4px - 10px);
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  margin: 5px;
  border: 2px solid var(--second-accent-color);
  background-color: var(--background-color);
  color: var(--main-color);
  outline: none;
  transition: 50ms linear;
}

.reportContainer textarea {
  height: calc(50% - 50px);
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: calc(100% - 10px);
  outline: none;
  border: none;
  border-top: 2px solid var(--second-accent-color-half);
  padding: 5px;
  resize: none;
  background-color: transparent;
  color: var(--main-color);
}

.reportContainer label {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: 10px;
}

.mainDropDown summary {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
}

.mainDropDown summary:focus {
  color: var(--second-accent-color);
}

.mainDropDown summary::marker {
  color: var(--second-accent-color);
}
