.informationLabelContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  width: auto;
  height: auto;
  gap: 20px 50px;
}

.informationLabel {
  width: fit-content;
  height: min-content;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
}

.informationLabelWithOnClick {
  cursor: pointer;
  transition: 50ms linear;
  border: 2px solid transparent;
}

.informationLabelWithOnClick:hover {
  border-color: var(--second-accent-color);
}

.informationLabel .key {
  width: auto;
  height: auto;
  color: var(--second-accent-color);
}

.informationLabel .value {
  width: auto;
  height: auto;
}

.mainInputButtonContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  height: auto;
  margin: 20px;
  width: calc(100% - 40px);
}

.mainInput {
  height: auto;
  width: unset;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: 2px solid transparent;
  background-color: var(--second-background-color);
  color: var(--accent-color);
  outline: none;
  transition: 50ms linear;
}

.mainInput:focus {
  border-color: var(--accent-color);
}

.mainButton {
  height: auto;
  width: unset;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: 2px solid transparent;
  background-color: var(--second-background-color);
  color: var(--accent-color);
  outline: none;
  cursor: pointer;
  transition: 50ms linear;
}

.mainButton:not(:disabled):hover,
.mainButton:not(:disabled):focus {
  border-color: var(--accent-color);
}
