body {
  background-color: var(--color-background);
  margin: 0;
}

.searchHistoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 10px;
}

.searchHistoryList button {
  font-size: 12px;
  padding: 4px 8px;
}

.searchHistoryList button .searchCount,
.repeatOffendersList button .searchCount {
  color: var(--color-text-primary-half);
  font-weight: 400;
}

.repeatOffendersList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 10px;
}

.repeatOffendersList button {
  font-size: 12px;
  padding: 4px 8px;
}

.searchResponseWrapper ul {
  padding: 0;
  margin: 0;
  color: var(--color-text-primary);
}

.searchResponseWrapper ul li {
  margin-left: 18px;
}
