/* Have fun customizing :) */
:root {
  --background-color: rgb(26, 26, 26);
  --second-background-color: rgb(182, 182, 182);
  --main-color: white;
  --accent-color: rgb(5, 2, 182);
  --second-accent-color: rgb(124, 171, 207);
  --second-accent-color-half: rgba(124, 171, 207, 0.5);
  --warning-color: red;
  --warning-color-half: rgba(255, 0, 0, 0.5);
  --header-height: 50px;
  --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tenCodesPage .container {
  display: grid;
  grid-auto-flow: column;
  height: calc(100% - 40px);
  margin: 20px;
  width: calc(100% - 40px);
  overflow: auto;
}

.tenCodesPage .name {
  font-size: 32px;
  font-weight: 800;
  width: auto;
  height: auto;
}

.tenCodesPage .label {
  height: auto;
}

.tenCodesPage .list {
  font-family: monospace;
  margin-top: 10px;
  margin-bottom: 30px;
  height: auto;
}

.tenCodesPage .item {
  font-size: 20px;
  font-weight: 600;
  height: auto;
  width: calc(100% - 10px);
  min-width: max-content;
  padding: 5px 0 5px 10px;
}

.tenCodesPage .item:not(:first-child) {
  border-top: 2px solid var(--second-accent-color-half);
}
