/* Have fun customizing :) */
:root {
  --background-color: rgb(153, 153, 153);
  --second-background-color: rgb(52, 204, 255);
  --main-color: black;
  --accent-color: black;
  --second-accent-color: black;
  --second-accent-color-half: rgba(0, 0, 0, 0.5);
  --warning-color: red;
  --warning-color-half: rgba(255, 0, 0, 0.5);
  --header-height: 50px;
  --main-font: sans-serif;
}

.label .value {
  background-color: rgb(204, 204, 204);
  padding: 5px;
  border: none;
}

input {
  border-radius: 0;
}

input::placeholder {
  color: var(--second-accent-color-half);
}
