/* Have fun customizing :) */
:root {
  --background-color: rgb(26, 26, 26);
  --second-background-color: rgb(182, 182, 182);
  --main-color: white;
  --accent-color: rgb(5, 2, 182);
  --second-accent-color: rgb(124, 171, 207);
  --second-accent-color-half: rgba(124, 171, 207, 0.5);
  --warning-color: red;
  --warning-color-half: rgba(255, 0, 0, 0.5);
  --header-height: 50px;
  --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
